.linker{
    background-color:rgb(107, 43, 8);
    text-align:center;
    padding-top:26px;
    margin:-8px;
    padding-right:16px;
    width:100%;
    height:50px;
}
.changelink{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}